.text-box{
  background-color: black;
  color: white;
  width: 50%;
  margin-top: 50px;
  border-radius: 40px;
}

p{
  font-size: 1.3rem !important;
}

.App-link {
  color: #61dafb;
}

body{
  background-color: #9e9e9e;

}

